@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
body{
    background-image: url("./images/bg.jpg");
}

#container{
    margin: auto;
    margin-top: 100px;
    width: 275px;
    height: 200px;
}
